#google-signin {
    display: flex;
    background: white;
    white-space: nowrap;
    height: 42px;
    border: 1px solid #4285f4;
    background-color: #4285f4;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 15px;

    > div { margin: 0 auto; }

    > span.icon {
      width: 42px;
      background-color: white;
      height: inherit;

      svg {
        margin-top: 12px;
        width: 1.2rem;
      }
    }

    > span.buttonText {
      flex: 1;
      align-self: center;
      font-size: 14px;
      font-weight: bold;
      color: white;
    }

    &:hover {
      cursor: pointer;
    }
}
